body {
    background-color: #000;
    color: #39ff14;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}
.container {
    margin-top: 30px;
}
h1 {
    font-size: 2.5rem;
    color: #39ff14;
    text-shadow: 1px 1px 2px #000;
}
label {
    color: #39ff14;
}
.form-control {
    background-color: #000;
    color: #39ff14;
    border: 1px solid #39ff14;
}
.form-control:focus {
    background-color: #000;
    color: #39ff14;
    border: 1px solid #39ff14;
    box-shadow: none;
}
.btn-primary {
    background-color: #39ff14;
    border-color: #39ff14;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: #000;
}
.btn-primary:hover {
    background-color: #0d8800;
    border-color: #0d8800;
}
.card {
    background-color: #000;
    border: 1px solid #39ff14; 
}
.navbar {
    background-color: #000;
    border-bottom: 1px solid #39ff14;
}
.navbar-brand, .nav-link {
    color: #39ff14 !important;
}
.navbar-brand:hover, .nav-link:hover {
    color: #0d8800;
}
.navbar-toggler {
    border-color: #39ff14;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%2339ff14' viewBox='0 0 30 30'%3E%3Cpath stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid #39ff14;
    padding-right: 10px;
    margin-right: 10px;
}
.dimmed {
    position: relative;
    opacity: 0.5;
    pointer-events: none;
}
#successMessage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.success-text {
    color: #39ff14;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
}
/* Center the GIF */
#successMessage img {
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center horizontally */
}